force-app/main/default/flows/POS_Stock_Adjustment_Total_Stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_value_for_adjsutment</name>
        <label>Assign value for adjsutment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStockAdj.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStockAdj.POS_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.POS_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStockAdj.Stock_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStockAdj.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stock_Level__r.Available_to_Sell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStockAdj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock Take Adjustment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Total_Stocks</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>ERROR: {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>totalStocks</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Stock_Level__r.Available_to_Sell__c} + {!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>POS_Stock_Adjustment_Total_Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POS_Stock_Adjustment_Total_Stock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Total_Stocks</name>
        <label>Create Total Stocks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>varStockAdj</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory Added</stringValue>
            </value>
        </filters>
        <object>Stock_Adjustment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_value_for_adjsutment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varStockAdj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock_Adjustment__c</objectType>
    </variables>
</Flow>
