force-app/main/default/flows/POS_STCK_LVL_StockTake_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>addedOrRemoved</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Change_Quantity__c &gt; 0}, &apos;Inventory Added&apos;, &apos;Inventory Removed&apos;)</expression>
    </formulas>
    <formulas>
        <name>availableToSell</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Available_to_Sell__c} + {!$Record.Change_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>countOnHand</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Count_On_Hand__c} + {!$Record.Change_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>POS_STCK_LVL_StockTake Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POS_STCK_LVL_StockTake Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stock_Adjustment</name>
        <label>Create Stock Adjustment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_Inventories_To_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Last_Inventory_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Level__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Stock Take Adjustment</stringValue>
            </value>
        </inputAssignments>
        <object>Stock_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Last_Inventories_To_Blank</name>
        <label>Last Inventories To Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Inventory_Count__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inventory_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stock</name>
        <label>Update Stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Stock_Adjustment</targetReference>
        </connector>
        <inputAssignments>
            <field>Available_to_Sell__c</field>
            <value>
                <elementReference>$Record.Last_Inventory_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_on_Hand__c</field>
            <value>
                <elementReference>$Record.Last_Inventory_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Inventory_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Inventory_Count__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Stock_Level__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
