force-app/main/default/flows/POS_New_Loan_Advance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <choices>
        <name>Emergency_Loan</name>
        <choiceText>Emergency Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salary_Advance</name>
        <choiceText>Salary Advance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salary Advance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salary_Loan</name>
        <choiceText>Salary Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salary Loan</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Signature_NULL</name>
        <label>Is Signature valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEsignatureBase64</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Loan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varSignatureImg</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;img src=&apos;&quot; + {!varEsignatureBase64} + &quot;&apos; /&gt;&quot;</expression>
    </formulas>
    <interviewLabel>POS_New_Loan_Advance {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>POS_New_Loan_Advance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Loan</name>
        <label>Save Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signature__c</field>
            <value>
                <elementReference>varSignatureImg</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Advance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NEW LOAN/ADVANCE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Missing Signature.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Loan_Advance_Screen</name>
        <label>New Loan Advance Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Signature_NULL</targetReference>
        </connector>
        <fields>
            <name>HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NEW LOAN/ADVANCE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Salary_Advance</choiceReferences>
            <choiceReferences>Emergency_Loan</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Salary_Advance</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Purpose</name>
            <fieldText>Purpose</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TermsAndCondition</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;TERMS &amp;amp; CONDITIONS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;1. Purpose of &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type} &lt;/strong&gt;The Company agrees to provide a &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type}&lt;/span&gt; to the Employee to be used at the Employee’s discretion. This &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type} &lt;/span&gt;is not a gift or a bonus; it is a prepayment of wages already earned but not yet paid.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;2. Repayment Schedule&lt;/strong&gt; The Employee acknowledges and agrees that the total amount of the &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type} &lt;/span&gt;shall be settled in full on the &lt;strong&gt;immediate next Payday&lt;/strong&gt; following the receipt of the funds.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;3. Method of Settlement (Payroll Deduction)&lt;/strong&gt; By signing this agreement, the Employee provides express authorization for the Company to deduct the total &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type} &lt;/span&gt;amount from their net pay on the scheduled payday. If the Employee’s net pay is insufficient to cover the full amount, the remaining balance will be deducted from the subsequent pay period or must be paid via bank transfer within 24 hours of notification.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;4. Employment Termination&lt;/strong&gt; In the event that the Employee leaves the Company (whether via resignation or termination) before the &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Type} &lt;/span&gt;is fully repaid, the Employee authorizes the Company to deduct the outstanding balance from any final compensation, including but not limited to final salary, accrued vacation pay, or commissions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;5. Fees and Interest&lt;/strong&gt; N/A&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;6. Acknowledgement&lt;/strong&gt; By providing my electronic signature below, I certify that I have read and understood these terms. I voluntarily authorize the payroll deduction and confirm that this request is made of my own free will.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eSignature</name>
            <extensionName>c:POSeSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEsignatureBase64</assignToReference>
                <name>signatureData</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_HeaderTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NEW LOAN/ADVANCE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ErrorMsg</name>
            <fieldText>&lt;p&gt;Your {!Type} has been submitted. We&apos;ll get back to you as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your reference number is &lt;strong&gt;{!Save_Loan.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Loan_Advance_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEsignatureBase64</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Advance__c</objectType>
    </variables>
</Flow>
